.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

body {
    color: rgb(180, 180, 180);
    background-image: url(PS5-background-image.png);
}

.titleColor {
    color: rgb(204, 204, 0);
}

h3:hover {
    color: rgb(12, 167, 113)
}

.ovmovies {
    width: 25vw;
    font-family: monospace;
    font-size: 15px;
    align-content: start;
    padding: 4vw;
}

h1 {
    text-align: center;
}

main {
    text-align: center;
    margin-left: 5vw;
    margin-right: 5vw;
    background-image: linear-gradient(rgba(30, 30, 30, 0.7), rgba(72, 2, 164, 0.7), rgba(68, 77, 4, 0.7));
}

footer {
    text-align: center !important;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: rgb(180, 100, 100);
}

.creatorName {
    font-size: 10px
}

.formClass {
    border-style: solid;
    border-color: green;
    padding: 10px;
    margin: 10px;
}

#emailSize {
    width: 100%;
}